{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@?\\w+", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"]
}
